.benefits {
    min-height: 473px;
    background: #F6F6F6;
    padding: 65px 0 65px 0;
/*     display: flex;
    justify-content: center;
    align-items: center; */
    &__logo {
        font-weight: 700;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 73px; */
        color: #0D0D0D;
    }
    &__items {
        
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }
    &__item {
        padding: 0 38px 0 38px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            margin-top: 65px;
            width: 70px;
            height: 70px;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text1 {
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__text2 {
        margin-top: 20px;
        width: 277px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    span {
        font-family: 'MuseoModerno';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #FF0000;
    }


    
}
